
<form method="POST">
    {% csrf_token %}
    <label for="host" class="form-label">Hostname:</label>
    <input type="text" name="hostEvento_" class="form-control" value="{{evento.hostname}}" required readonly maxlength="50">
    <!-- o id referente ao titulo é enviado... -->
    <input type="hidden" name="host" value="{{evento.id}}">

    <label for="servico" class="form-label">Serviço:</label>
    <input type="text" name="servico" class="form-control" value="{{evento.servico}}" required readonly maxlength="100">

    <label for="tipoHost" class="form-label">Tipo de Host:</label>
    <input type="text" name="tipoHost"class="form-control" value="{{evento.tipoHost}}" required readonly maxlength="20">

    <label for="descricao" class="form-label">Descricao:</label>
    <input type="text" name="descricao" class="form-control" value="{{evento.descricao}}" required readonly maxlength="200">

    <label for="status" class="form-label">Status:</label>
    <input type="text" name="status" class="form-control" value="{{eventoPing}}" required readonly maxlength="200">

    <label for="dataHora" class="form-label">Data e Hora:</label>
    <input type="text" name="dataHora" class="form-control" value="{{horaEvento}}" required readonly maxlength="200">



    <button type="submit" class="btn btn-outline-success float-right mb-3"><i class="bi bi-check2"></i> Enviar</button>
</form>

