{% load static %}
<script nonce="undefined" src="https://cdn.zingchart.com/zingchart.min.js"></script>

  <div id="myChart1" class="chart--container">
    <a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
  </div>
  <div id="myChart2" class="chart--container">
    <a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
  </div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    let chartConfig1 = {
        type: 'bar',
        title: {
            text: 'Hosts',
            fontSize: 18,
            fontColor: '#009688'
        },
        legend: {
            draggable: true,
        },
        scaleX: {
            label: { text: 'Hosts' },
        },
        scaleY: {
            label: { text: 'Ping (ms)' },
        },
        plot: {
            valueBox: {
                {% comment %} text:  {% endcomment %}
                alpha: 0.7,
                borderRadius: 3,
                fontFamily: 'Roboto',
                fontSize: 12,
                fontWeight: 'bold',
                padding: '5 8',
            },
            animation: {
                effect: 'ANIMATION_EXPAND_BOTTOM',
                method: 'ANIMATION_STRONG_EASE_OUT',
                sequence: 'ANIMATION_BY_NODE',
                speed: 500,
            },
            cursor: 'pointer',
            selectedState: {
                backgroundColor: '#1DE9B6',
                borderColor: 'grey',
                borderWidth: '1px'
            },
            selectionMode: 'plot'
        },
        series: [{
            values: {{ listaPing }},
            text: 'Pings',
            backgroundColor: '#009688'
        }]
    };

    let chartConfig2 = {
        type: 'gauge',
        title: {
            text: 'Velocidade (ms)',
            bold: true,
            fontSize: 18,
            fontColor: '#009688'
        },
        scaleR: {
            values: '0:100:10',
            center: {
                backgroundColor: '#009688',
                borderWidth: '0px'
            }
        },
        series: [{
            values: {{listaPing}},
            backgroundColor: '#009688'
        }]
    };

    zingchart.bind('myChart1', 'node_click', function(e) {
        zingchart.exec('myChart2', 'setseriesvalues', {
            plotindex: 0,
            values: [e.value]
        });
    });

    zingchart.render({
        id: 'myChart1',
        data: chartConfig1,
        height: '100%',
        width: '100%',
    });

    zingchart.render({
        id: 'myChart2',
        data: chartConfig2,
        height: '100%',
        width: '100%',
    });
  </script>