{% load static %}

<!DOCTYPE html>
<html>

{% include "./Head.html" %}

<body class="theme-teal">
    
    {% include "PageLoader.html" %}
    
    <div class="overlay"></div>

    {% include "./Top_Bar.html" %}
    {% include "./Menu_Left.html" %}

    <section class="content">
        <div class="body">
            <ol class="breadcrumb breadcrumb-col-teal">
                <h5>Você está em:</h5>
                <li class="active"><i class="material-icons">home</i> Início</li>
            </ol>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">     
                <div class="body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="padding: 25px;">
                            {% include "dashboard.html" %}
                            {% comment %} --- {% endcomment %}
                            {% include "zingchart.html" %}
                            {% comment %} --- {% endcomment %}
                            <div id="myChart" class="chart--container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "./Modal_Info_Sistema.html" %}

    {% include "Scripts.html" %}

</body>

</html>