{% load static %}

<!DOCTYPE html>
<html>

{% include "./Head.html" %}

<body class="theme-teal">
    
    {% include "PageLoader.html" %}
    
    <div class="overlay"></div>

    {% include "./Top_Bar.html" %}
    {% include "./Menu_Left.html" %}

    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="body">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="card" style="padding:25px;">
                            <h3 style="text-align:center">HOSTS ONLINE</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>HOSTNAME</th>
                                            <th>DESCRIÇÃO</th>
                                            <th>TIPO DE HOST</th>
                                            <th>PORTA</th>
                                            <th>SERVIÇO</th>
                                            <th>STATUS</th>
                                            <th>PING (MS)</th>
                                            <th>ÚLTIMA ATUALIZAÇÃO</th>
                                            <th>LOGS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in eventos %}
                                            {% if e.status == 'ONLINE' %}
                                            <tr>
                                                <td>{{ e.id }}</td>
                                                <td>
                                                    <strong>{{ e.host_porta_id.host.hostname }}</strong>
                                                </td>
                                                <td>{{ e.host_porta_id.host.descricao }}</td>
                                                <td>{{ e.host_porta_id.host.tipoHost }}</td>
                                                <td>{{ e.host_porta_id.porta.portaServico }}</td>
                                                <td>{{ e.host_porta_id.porta.servico }}</td>
                                                <td>{{ e.status }}</td>
                                                {% if e.ping == None %}
                                                    <td>---</td>
                                                {% else %}
                                                    <td>{{ e.ping }}</td>
                                                {% endif %}
                                                <td>{{ e.dataHora|date:'SHORT_DATE_FORMAT'}} - {{e.dataHora|time:"H:i" }}</td>
                                                <td>
                                                    <center>
                                                        <a href="{% url 'Hosts:logs' e.id %}" class="material-icons">
                                                            <button type="button" class="btn bg-cyan waves-effect">
                                                                <i class="material-icons">update</i>
                                                            </button>
                                                        </a>
                                                    </center>    
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        <br>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card" style="padding: 25px;">
                            <h3 style="text-align:center">HOSTS OFFLINE <i style="color:crimson" class="fas fa-exclamation-triangle"></i></h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>HOSTNAME</th>
                                            <th>DESCRIÇÃO</th>
                                            <th>LOGS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in eventos %}
                                            {% if e.status == 'OFFLINE' %}
                                                <tr>
                                                    <td>{{ e.host_porta_id.host.hostname }}</td>
                                                    <td>{{ e.host_porta_id.host.descricao }}</td>
                                                    <td>
                                                        <center>
                                                            <a href="{% url 'Hosts:logs' e.id %}" class="material-icons">
                                                                <button type="button" class="btn bg-cyan waves-effect">
                                                                    <i class="material-icons">update</i>
                                                                </button>
                                                            </a>
                                                        </center>    
                                                    </td>  
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="padding: 25px;">
                            {% include "dashboard2.html" %}
                        </div>
                    </div>
                    {% comment %} <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="padding: 25px;">
                            {% include "dashboard.html" %}
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>

    </section>

    {% include "./Modal_Info_Sistema.html" %}

    {% include "./Scripts.html" %}

</body>

</html>