{% comment %} https://www.zingchart.com/gallery/dynamic-legend-labels {% endcomment %}
<!-- CHART CONTAINER -->
  <div id="zc" class="chart--container">
    <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a>
  </div>
  <script nonce="undefined" src="https://cdn.zingchart.com/dev/zingchart.min.js"></script>
  <script>
    // window:load event for Javascript to run after HTML
    // because this Javascript is injected into the document head
    window.addEventListener('load', () => {
      // Javascript code to execute after DOM content

      // full ZingChart schema can be found here:
      // https://www.zingchart.com/docs/api/json-configuration/
      let chartConfig = {
        "graphset": [{
          "type": "line",
          "labels": [{
            "align": "center",
            "id": "week",
            "color": "#666666",
            "x": "37%",
            "y": 10,
            "fontSize": 14,
            "fontWeight": "bold",
            "text": "<span style='font-size:20px'>HOSTS - MÉDIA DOS ÚLTIMOS DEZ PINGS</span><br><span style='font-size:13px'>%plot-0-data-week</span>",
            "default-value": "{{lastData|date:'SHORT_DATE_FORMAT'}} - {{lastData|time:'H:i'}}"
          }],
          "legend": {
            "toggle-action": "remove",
            "margin": "60 auto auto 14",
            "layout": "2x6",
            "borderWidth": 0,
            "item": {
              "margin": "5 30 5 10",
              "color": "#666666",
              "fontWeight": "bold",
              "text":"\u00A0\u00A0\u00A0\u00A0\u00A0%t<br><span style='font-size:19px;color:%color'>%plot-description</span>"
            },
            "marker": {
              "type": "default",
              "width": 14,
              "height": 14,
              "border-width": 0,
              "border-radius": 2,
              "offsetX": 22,
              "offsetY": -12,
              "background-image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAItJREFUeNpi/P//PwM5gImBTEAXjSpAnArngfxIBBYE4vP/ISAOJEaMjQJAvAeIDYD4IxDfR7aRCYirgNgQi01noTa9B2JTmBxMQSFU8jUQ6xDShKxRCYivQhW9AmIPID6JSxOyRhAWB+Ir/1EBVk3oGmGarxLShE0jCEsA8RYgtsAXRYx0T6sAAQYA/tZI643AdiwAAAAASUVORK5CYII=",
              "background-position": "50% 50%",
              "background-repeat": false
            },
            "marker-off": {
              "background-image": "none",
              "background-color": "#bbb"
            }
          },
          "plotarea": {
            "margin": "200 50 dynamic 50"
          },
          "title": {
            "text": "PING",
            "align": "left",
            "fontSize": 12,
            "color": "#999999",
            "marginTop": 178,
            "paddingLeft": 90
          },
          "scaleX": {
            "values": [
            {% for d in datas %}
                "{{d|date:'SHORT_DATE_FORMAT'}}\n{{d|time:'H:i'}}",
            {% endfor %}
            ],
            "offsetStart": 40,
            "maxItems": 999,
            "itemsOverlap": false,
            "item": {
              "fontSize": 12
            },
            "guide": {
              "visible": true,
              "lineWidth": "3px",
              "alpha": 0.3,
              "rules": [{
                "rule": "%i == 0",
                "visible": false
              }]
            }
          },
          "scaleY": {
            "markers": [{
              "type": "line",
              "range": [{{y}}-3],
              "lineColor": "red",
              "lineWidth": 5,
              "lineStyle": "dotted",
              "label": {
                "text": "OFFLINE",
                "backgroundColor": "red",
                "fontColor": "white",
                "fontSize": 14,
                "offsetX": 50,
                "offsetY": 20
              }
            }],
            "values": '0:{{y}}:{{passo}}',
            "short": true,
            "item": {
              "fontSize": 10,
              "offsetX": "30px",
              "offsetY": "-10px"
            },
            "guide": {
              "lineStyle": "dotted",
              "lineColor": "#9e9e9e",
              "lineGapSize": "5px"
            },
            "lineWidth": 0,
            "tick": {
              "visible": false
            }
          },
          "plot": {
            "thousands-separator": ",",
            //o que sera mostrado abaixo de 'hosts'
            "data-week": [
            {% for d in datas %}
                "{{d|date:'SHORT_DATE_FORMAT'}} - {{d|time:'H:i'}}",
            {% endfor %}
            ],
            "aspect": "spline",
            "lineWidth": 2,
            "marker": {
              "size": 3,
              "visible": true,
              "rules": [{
                "rule": "%node-index > 0",
                "visible": false
              }]
            },
            "tooltip": {
              "visible": false
            },
            "animation": {
              "speed": 400
            }
          },
          "crosshairX": {
            "plotLabel": {
              "multiple": false,
              "borderRadius": 3,
              "padding": '5 10',
              "rules": [{
                "rule": "%v == {{y}}-3",
                "text": "<span style='font-size:14px;color:%color;font-weight:bold'>%t: OFFLINE</span>",
              }],
              "text": "<span style='font-size:14px;color:%color;font-weight:bold'>%t: %v ms</span>",
            }
          },
          "series": [
          {% for host, mediaPing, historicoPing in graf %}
              {
              "text": "{{host}}",
              "description": "{{mediaPing}} ms",
              {% load l10n %}
              "values": [
              {% for ping in historicoPing %}
                {% if 'null' in ping %}
                  {{y}}-3,
                {% else %}
                  {{ping|unlocalize}},
                {% endif %}
              {% endfor %}
              ],
              "marker": {
                  "shadow": false,
                  "size": 5
              },
              "shadow": false
              },
          {% endfor %}
        ]
        }]
      };

      let previouseGuidePosition = null;
      let previousGuideObject = null;

      // when user is moving the mouse around
      zingchart.bind('zc', 'mousemove', function(e) {
        // if we left the plotarea
        if (!e.plotarea) {
          zingchart.exec('zc', 'setguide', {
            keyvalue: previousGuideObject.items[0].keyvalue
          });
        }
      });

      // when user mouse leaves full chart
      zingchart.bind('zc', 'mouseout', function(e) {
        zingchart.exec('zc', 'setguide', {
          keyvalue: previousGuideObject.items[0].keyvalue
        });
      });

      // save the guide position for when mouse
      // leaves chart
      zingchart.bind('zc', 'guide_mousemove', function(e) {
        previousGuideObject = e;
      });

      // render chart
      zingchart.render({
        id: 'zc',
        data: chartConfig,
        height: '100%',
        width: '100%',
      });
    });
  </script>